<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Lab12_20113259_김보운/src/countletters/CountLetters.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="countletters.CountLetters"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Lab12_20113259_김보운"/>
</launchConfiguration>
